<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{# block title #}#NEVERTRUMP - Pledge to never vote for Donald Trump{# endblock #}</title>
		<meta property="og:title"              content="#NEVERTRUMP - Pledge to never vote for Donald Trump" />
	  <meta property="og:description"        content="Join millions pledging" />
	  {% load static %}
	  <meta property="og:image"              content="{% static 'i/facebook_share.png' %}" />
		
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@ikirigin">
	  <meta name="twitter:creator" content="@ikirigin">
		<meta name="twitter:title" content="#NEVERTRUMP - Pledge to never vote for Donald Trump">
		<meta name="twitter:description" content="Join millions pledging">
		<meta name="twitter:image" content="http://www.nevertru.mp/static/i/twitter_share.png">
		
		<!--  JS 	-->
		<script type="text/javascript" src="{% static 'j/jquery-2.1.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'j/proto.js' %}"></script>
		
		<!-- Apple app -->    
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		
		<!-- Styles -->
		<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" media="screen" />  	
	</head>
	
	
	<body>


    <div class="wrapper">

      <div class="content"> 
        
          <h1>#NEVERTRUMP</h1>
        
          {% block content %}
          {% endblock %}
          
      </div>

    </div>
    

	</body>
</html>


