{% extends "base.html" %}

{% block content %}
<p>Donald Trump is bad for the United States</p>

<h2>Join <span>233,232</span> people and pledge<br /> to never vote for Trump</h2>

<form action="/pledge" method="POST">
    {% csrf_token %}
    <label for="name">Your Name</label>
    <input class="field" type="text" name="name" />
    <label for="email">Your Email</label>
    <input class="field" type="text" name="email" />
    
    <label for="party">Your Party</label>
    <br /><br />
    <a class="button" onclick="$('#partyinput').attr('value','Republican')">Republican</a>
    <a class="button" onclick="$('#partyinput').attr('value','Democrat')">Democrat</a>            
    <a class="button" onclick="$('#partyinput').attr('value','Other')">Other</a>
    <input id="partyinput" type='hidden' name='party' value='Default' />
    
    <button class="main-button" href="#">Pledge to #NEVERTRUMP</button>
</form>
{% endblock %}


