

<textarea class="share-link">nevertru.mp/{{pledge.code}}</textarea>
<label>Share</label> 

{% if pledge.verified %}
<a class="twitter" href="https://twitter.com/intent/tweet?text=I%20pledged%20to%20never%20vote%20for%20Trump&hashtags=NeverTrump&url=http%3A%2F%2Fwww.nevertru.mp%2F{{pledge.code}}" target="_blank">Twitter</a> 
<a class="facebook" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.nevertru.mp%2F{{pledge.code}}&t=NeverTrump" target="_blank">Facebook</a>
{% else %}
<a class="twitter" href="https://twitter.com/intent/tweet?text=Verify%20my%20pledge%20to%20never%20vote%20for%20Trump&hashtags=NeverTrump&url=http%3A%2F%2Fwww.nevertru.mp%2F{{pledge.code}}" target="_blank">Twitter</a> 
<a class="facebook" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.nevertru.mp%2F{{pledge.code}}&t=NeverTrump" target="_blank">Facebook</a>
{% endif %}